@font-face{
    font-family: 'fontGameXX';
    src: url(../../assets/fonts/Pony.ttf);
}
.bgGame{
    position: fixed;
    width:100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('../../assets/img/bgGame.png');
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* background-position: center center; */
    font-family: fontGameXX;
}